<div class="container">
	<div ng-include="'html/header.html'"></div>
	</div>
<div class="accountpage">
  <div class="row">
                  <div class=" col-sm-12  ">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item">Home</li>
                          <li class="breadcrumb-item">Maintenance</li>
                          <li class="breadcrumb-item active">GL Account</li>
                      </ol>
                  </div>
              </div>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12">

<div ui-grid="gridOptions" ui-grid-selection ui-grid-edit ui-grid-exporter ui-grid-pagination class="myGrid" style="height:427px;"></div>
</div>
</div><br/><br/>
<div class="row well" ng-init="getformload()">
	<div class="col-sm-12 col-md-2 col-xs-12">
		<div class="form-group">
			<input type='text' class="form-control input-sm" ng-model="frmGLAccount.txtA" ng-change="getqueryenable1()"/>
		</div>
	</div>
	<div class="col-sm-12 col-md-2 col-xs-12">
		<div class="form-group">
			<input type='text' class="form-control input-sm" ng-model="frmGLAccount.txtB" ng-change="getqueryenable2()"/>
		</div>
	</div>
	<div class="col-sm-12 col-md-2 col-xs-12">
		<div class="form-group">
			<input type='text' class="form-control input-sm" ng-model="frmGLAccount.txtC" ng-change="getqueryenable3()"/>
		</div>
	</div>
	<div class="col-sm-12 col-md-1 col-xs-12">
		<div class="form-group">
			<input type='text' class="form-control input-sm" ng-model="frmGLAccount.txtD" ng-change="getqueryenable4()"/>
		</div>
	</div>
	<div class=" col-sm-12 col-md-1 col-xs-12 col-lg-1 form-group">
		<button id="query1" type="button" class="btn btn-info btn-sm pull-right"  ng-click="getcmdqueryclick()" >
			Query</button>
	</div>
	<div class=" col-sm-12 col-md-1 col-xs-12 col-lg-1 form-group">
		<button type="button" class="btn btn-info btn-sm pull-right" ng-click="getcmdrefreshclick()">
			Refresh</button>
	</div>
	<div class=" col-sm-12 col-md-1 col-xs-12 col-lg-1 form-group">
		<button type="button" class="btn btn-info btn-sm pull-right" ng-click="getcmdinsertclick()">
			Insert</button>
	</div>
	<div class=" col-sm-12 col-md-1 col-xs-12 col-lg-1 form-group">
		<button type="button" class="btn btn-info btn-sm pull-right" ng-click="getcmdsaveclick()">
			Save</button>
	</div>
	<div class=" col-sm-12 col-md-1 col-xs-12 col-lg-1 form-group">
      <button type="button" id="closebtn" class="btn btn-info btn-sm pull-right" ng-click="redirect">
			Close</button>
	</div>
</div><br/>
</div>
<div ng-include="'html/footer.html'"></div>
 <script src="js/TasaScript.js"></script>