<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" advertiser="multicastdns">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File1" fileName="D:/tasaoutput.log" immediateflush = "true" >
    </File>
     <RollingFile name="RollingFile" fileName="D:/logs/app.log"
                 filePattern="D:/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>  
    <Root level="debug">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File1"/>
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>