/* start login css */
.login-background{
	background:#004ea8;
}
.form-login {
    background-color:aliceblue;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
	margin-top:117px;
}
.form-control {
    border-radius: 3px;
}
h1{
	border-bottom: 1px dotted #004ea8;
}
.btn-info{
	color: white;
	background-color:#004ea8;
	border-color:#004ea8;
}
.btn-info:hover{
	color: white;
	background-color:#004ea8;
	border-color:#004ea8;
}

/* end login css */
/* start Responsive css */
@media (min-width: 320px) and (max-width: 767px) {
  .img-responsive {
      margin-top: -44px;
    }
    .form-login{
        margin-top:43px;
      }
}
/* end Responsive css */
