<header>
	<nav class="navbar navbar-default navbar-static-top clearfix navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
			 <a href="#" class="navbar-brand navbar-brand-custom"><img src="images/logo.png"  alt="SIC" width="200px" height="35px"></a>  		 </div>
     


	     <!-- <div class="navbar-collapse collapse" id="navbar-main"> -->
	 <div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav custom-nav pull-right account">
		  <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="account">Login and go Home page</a>
            </li>
		  </ul>
     </div>
	      </div>
		</nav>

	</header>
	<div class="login-page">
 <div class="col-sm-6 col-md-4 col-xs-12 col-md-offset-4 form-group">
<div class="alert alert-info">
    Username: your wish<br />
    Password: your wish
</div>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<form name="form" ng-submit="login()" role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
         <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
        </div>        
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
       <div class="input-group"> <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
        </div>       
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-info">Login&nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
</form>
</div>
</div>
</div>
<footer>
	 <div class="navbar navbar-default navbar-fixed-bottom navbar-bottom-custom">
	    <div class="container">
	        <div class="navbar-footer">
			 <span class="pull-left text-small"><small><i>TASA(Trust Accounting System Administrator)</i></small></span>
	         <span class="pull-right text-small"><small>© 2017 SIC, Inc. All Rights Reserved</small></span>
	         </div>
	    </div>
		 </div>
 </footer>
 	<script src="js/TasaScript.js"></script>